@media screen and (min-width: 330px) {

  /**********************************
  PAGE: INDEX
  ***********************************/

  #gallery li {
  width: 45%;
  height: 230px;
  margin: 2.5% 2.5% 2.5% 2.5%;
  }

  #gallery li:nth-child(2n+1) {
    clear: left;
  }

}


@media screen and (min-width: 480px) {

  #wrapper {
    width: 70%;
    max-width: 1000px;
    padding: 0 0;
    margin: 0 auto;
  }

}

@media screen and (min-width: 640px) {

  #gallery li {
    height: 240px;
  }

}


@media screen and (min-width: 738px) {


  /**********************************
  HEADER
  *********************************/

  nav {
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    padding-top: 25px;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  #wrapper {
    padding-top: 110px;
  }

  header {
    float: left;
    position: fixed;
    top: 0;
    z-index: 10;
}

  h1 {
    font-size: 2.5em;
    line-height: 1em;
  }

  /**********************************
  PAGE: INDEX
  ***********************************/

  #gallery li {
    width: 28.3333%;
    height: 230px;
  }

  /**#gallery li:nth-child(4n) {
    clear: left;
  }**/

  #gallery li:nth-child(2n+1) {
    clear: none;
  }

  /**********************************
  PAGE: ABOUT
  ***********************************/

  .imgCircle {
    display: block;
    float: left;
    margin: 0 2em 0 0;
    padding: 1%;

}

}

@media screen and (min-width: 900px) {

  #gallery li {
    height: 236px;
  }

}

@media screen and (min-width: 1100px) {

  #gallery li {
    height: 250px;
  }

}


@media screen and (min-width: 1200px) {

  #gallery li {
    height: 260px;
  }

}




