@media screen and (min-width: 330px) {

  /**********************************
  PAGE: INDEX
  ***********************************/

  #gallery li {
  width: 45%;
  min-height: 250px;
  margin: 2.5% 2.5% 2.5% 2.5%;
  }

  #gallery li:nth-child(2n+1) {
    clear: left;
  }

}




@media screen and (min-width: 480px) {

  #wrapper {
    width: 70%;
    max-width: 1000px;
    padding: 0 0;
    margin: 0 auto;
  }

}




@media screen and (min-width: 660px) {

   /**********************************
PAGE: WORK EX
***********************************/

/*#projectOverview::after {
    content: "";
    display: table;
    clear: both;
  }*/

}




@media screen and (min-width: 738px) {


  /**********************************
  HEADER
  *********************************/

  nav {
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    padding-top: 25px;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  header {
    float: left;
}

  h1 {
    font-size: 2.5em;
    line-height: 1em;
  }

  /**********************************
  PAGE: INDEX
  ***********************************/

  #gallery li {
    width: 28.3333%;
    min-height: 251px;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  #gallery li:nth-child(2n+1) {
    clear: none;
  }

}




