@import "theme.less";

/**********************************
GENERAL
***********************************/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

div, span, p,li,u,i {
    .primary-text();
}

h1,h2,h3,h4,h5,h6 {
    .heading-text();
    font-weight: bold;
}