@import "theme.less";

.caseStudyIntro {
  text-align: center;

  > .caseClient {
    .client-text();
    margin-top: 32px;
    margin-bottom: 8px;
  }

  > .caseImage {
    width: 420px;
    height: 240px;
    margin: auto;
    margin-top: 80px;
  }
}

.caseParagraphe {
  width: 680px;
  margin: 64px auto auto auto;

  &Title {
    text-align: center;
  }
  &Content {
    .secondary-text();

  }
}