@import "theme.less";

.caseStudyIntro {
  text-align: center;

  &RaisedTitle {
    z-index: 2;
    max-width: 680px;
    background: white;
    margin: 150px auto 0 auto;
    padding: 16px 0 16px 0;

    > .caseDescription {
      line-height: 41px;
      font-size: 32px;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    > .caseClient {
      .client-text();
      color: @secondary-text-color;
      font-weight: 200;
      font-size: 18px;
      margin: 8px 0 16px 0;
    }
  }

  > .caseImage {
    width: 100%;
    height: 240px;
    margin: auto auto auto auto;
    z-index: -1;
    position: absolute;
    top: 76px;
    background-color: @case-intro-background-color;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }



}



.caseGallery {
  max-width: 1016px;
  margin: 32px auto 32px auto;
}

.caseIllustration {
  display: block;
  margin: 32px auto 32px auto;
  max-width: 70%;
  padding: 16px 0px 16px 0px;
}

.caseIllustrationS {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 48%;
  padding: 16px 0px 16px 0px;
}

.caseIllustrationL {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  padding: 16px 0px 16px 0px;
}

figcaption{
  padding: 8px 0 0 0;
}

.caseParagraphe {
  max-width: 680px;
  margin: 64px auto auto auto;

  &Title {
    text-align: center;
  }

  &Content {
    .secondary-text();
  }
}

.case {
  &TwoColumn {
    width: 85%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 54px auto auto auto;
    @media (max-width: 730px) {
      margin: 16px auto 16px auto;
    }
  }

  &LeftColumn {
    display: grid;
    grid-template-rows: 150px auto;
    flex: 1 0 25%; /*  Stretching: */
    margin: 32px 32px 32px 32px;
    @media (max-width: 730px) {
      margin: auto;
    }

    &Title {
      height: 150px;
      margin: 0;
      border-top: solid 1px @primary-text-color;
      border-bottom: solid 1px @primary-text-color;
      display: grid;
      place-items: center;
      .primary-text();
      letter-spacing: 7px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      line-height: 32px;
    }

    &Desc {
      margin: 64px 0 auto 0;
    }
  }

  &RightColumn {
    flex: 1 1 67%; /*  Stretching: */
    margin: 5px;
    background-color: @case-background-color;
    padding: 32px 32px 32px 32px;

    :first-child {
      margin-top: 0;
      margin-block-start: 0;
    }
  }
}