@import "./theme.less";

/**********************************
HEADINGS
***********************************/

.rootLayout {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  height: 76px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  > .headerLeft {
    margin: auto 0 auto 64px;

    > a >.sophieDurand {
      .special-text();
    }
  }

  > .headerRight {
    margin: auto 64px auto 0;

    > nav {
      //margin-right: 564px;
      display: flex;
      justify-content: space-between;
      width: 250px;

      > span {
        //margin-right: 20px;
        text-transform: uppercase;

        > a {
          .primary-text();
          font-weight: 300;
          &.selected {
            font-weight: 600;
          }
        }
      }
    }
  }
}


