@import "theme.less";

/**********************************
PAGE: INDEX
***********************************/

.introIndex {
    text-align: center;
    margin-bottom: 128px;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

#gallery {
    margin: 0 -36px -36px -36px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caseStudies {
    text-align: center;
}
