@import url("https://fonts.googleapis.com/css?family=Lora:300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

@primary-text-color: #292929;
@secondary-text-color: #5F6368;
@email-text-color: #0D6A90;
@client-text-color: #036a90;
@footer-background-color: #fafaf5;
@case-background-color: #f8f8f8;
@case-intro-background-color: #FAFAF5;

@primary-font-family: 'Roboto';
@secondary-font-family: 'Lora';

@footer-font-size: 32px;
@email-font-size: 20px;

.primary-text() {
  color: @primary-text-color;
  font-family: @primary-font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.secondary-text() {
  color: @secondary-text-color;
  font-family: @primary-font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.special-text() {
  .primary-text();
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}

.heading-text() {
  color: @primary-text-color;
  font-family: @secondary-font-family;
  font-weight: 500;
}

.client-text() {
  font-size: 1em;
  font-weight: 400;
  line-height: 19px;
  color: @client-text-color;
}

.email-text() {
  color: @email-text-color;
  font-family: @primary-font-family;
  font-size: @email-font-size;
}

.underlined() {
  text-decoration: underline;
}

.square(@size: 10px) {
  height: @size;
  width: @size;
}

.space-text {
  .special-text();
}

.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;

}