<footer>
    <div class="footerMainContent">
        Let's connect
    </div>
    <div class="footerEmail">
        <a href="mailto:sophie.durand.b@gmail.com">sophie.durand.b@gmail.com</a>
    </div>
    <div class="footerLinkedInLogo">
        <a href="https://www.linkedin.com/in/sophie-durand/"><img src="img/LI-In-Bug.png"></a>
    </div>
</footer>