<header>
    <div class="headerLeft">
        <a href="index.html">
            <h1 class="sophieDurand">Sophie Durand</h1>
        </a>
    </div>
    <div class="headerRight">
        <nav>
            <span><a href="index.html" {{#if (isWork selected)}}class="selected"{{/if}}>Work</a></span>
            <span><a href="about.html" {{#if (isAbout selected)}}class="selected"{{/if}}>About</a></span>
            <span><a href="contact.html" {{#if (isContact selected)}}class="selected"{{/if}}>Contact</a></span>
            <span><a href="files/cv_SophieDurand.pdf" download="" title="Download CV (pdf)">CV</a></span>
        </nav>
    </div>
</header>