<div class="caseStudyIntro">
       <div class="caseImage anim-fade-in">
            <img src="{{image}}" alt="{{alt}}"/>
        </div>
        <div class="caseStudyIntroRaisedTitle anim-slide-up">
            <h1 class="caseDescription">{{description}}</h1>
            <div class="caseClient">{{client}}</div>
        </div>
    </div>