<div class="caseStudyIntro">
    <div class="caseClient">{{client}}</div>
    <h1 class="caseDescription">{{description}}</h1>
    <div class="caseImage">
        <img src="{{image}}"/>
    </div>
</div>