<div class="caseLeftColumn">
    <h1 class="caseLeftColumnTitle">{{title}}</h1>
    <div class="caseLeftColumnDesc">
        <!--<figure>
            <img src="{{img}}" alt="{{alt}}">
            <figcaption>{{> @partial-block}}</figcaption>
        </figure>-->
    </div>
</div>