@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
/**********************************
PAGE: INDEX
***********************************/
.introIndex {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 88px;
}
.introIndexDesc > p {
  color: #292929;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 24px;
  font-weight: 300;
  line-height: 41px;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 36px;
  justify-content: center;
}
.caseStudies {
  text-align: center;
  margin-bottom: 32px;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
footer {
  height: 216px;
  background-color: #fafaf5;
  text-align: center;
  margin-top: 88px;
  padding: 24px 0 0 0;
}
footer > .footerMainContent {
  color: #292929;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 14px;
  margin-top: 28px;
}
footer > .footerEmail {
  margin-bottom: 20px;
}
footer > .footerEmail > a {
  color: #0D6A90;
  font-family: 'Roboto';
  font-size: 20px;
}
footer > .footerLinkedInLogo {
  height: 26px;
  width: 26px;
  margin: auto;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
/**********************************
HEADINGS
***********************************/
.rootLayout {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr auto;
}
header {
  display: flex;
  background: white;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  height: 76px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 64px;
  padding-right: 64px;
  flex-wrap: wrap;
}
@media (max-width: 730px) {
  header {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: unset;
    height: 115px;
  }
}
header > .headerLeft {
  margin: auto 0 auto 0;
  flex-grow: 1;
}
@media (max-width: 730px) {
  header > .headerLeft {
    margin: auto;
    margin-bottom: 16px;
  }
}
header > .headerLeft > a > .sophieDurand {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
  text-align: left;
}
header > .headerRight {
  margin: auto 0 auto 0;
}
@media (max-width: 730px) {
  header > .headerRight {
    margin: 0 auto 16px;
  }
}
header > .headerRight > nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
header > .headerRight > nav > span {
  text-transform: uppercase;
}
header > .headerRight > nav > span > a {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}
header > .headerRight > nav > span > a.selected {
  font-weight: 600;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
.portfolioCard {
  flex: 0 0 360px;
  height: 330px;
  width: 360px;
}
.portfolioCard:hover {
  margin-top: -5px;
}
.cardClient {
  font-size: 1em;
  font-weight: 400;
  line-height: 19px;
  color: #036a90;
  margin-top: 8px;
}
.cardDescription {
  color: #292929;
  font-family: 'Lora';
  font-weight: 500;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 4px;
  margin-bottom: 16px;
}
.cardLongDesc {
  color: #5F6368;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}
.cardImage {
  width: 360px;
  height: 240px;
  z-index: 1;
}
.raisedCard {
  text-align: center;
  z-index: 2;
  height: 144px;
  width: 260px;
  position: relative;
  bottom: 61px;
  left: 50px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 8px 10px 8px 10px;
}

/*.gradientBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    z-index: -1;
    background: -webkit-linear-gradient(186deg #eaf9ff 61%, #ffffff 24%);
    background: linear-gradient(186deg, #eaf9ff 61%, #ffffff 24%);
}*/

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
.caseStudyIntro {
  text-align: center;
}
.caseStudyIntroRaisedTitle {
  z-index: 2;
  max-width: 680px;
  background: white;
  margin: 150px auto 0 auto;
  padding: 16px 0 16px 0;
}
@media (max-width: 730px) {
  .caseStudyIntroRaisedTitle {
    margin: 75px auto 0 auto;
  }
}
.caseStudyIntroRaisedTitle > .caseDescription {
  line-height: 41px;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 8px;
}
.caseStudyIntroRaisedTitle > .caseClient {
  font-size: 1em;
  font-weight: 400;
  line-height: 19px;
  color: #036a90;
  color: #5F6368;
  font-weight: 200;
  font-size: 18px;
  margin: 8px 0 16px 0;
}
.caseStudyIntro > .caseImage {
  width: 100%;
  height: 240px;
  margin: auto auto auto auto;
  z-index: -1;
  position: absolute;
  top: 76px;
  overflow: hidden;
  background-color: #D7E6E5;
}
.caseStudyIntro > .caseImage > img {
  object-fit: none;
  object-position: 50% 0;
  height: 300px;
  width: 100%;
  opacity: 0.2;
  background: #D7E6E5;
  mix-blend-mode: multiply;
}
.caseGallery {
  max-width: 1016px;
  margin: 40px auto 40px auto;
}
.caseIllustration {
  display: block;
  margin: 16px auto 16px auto;
  max-width: 70%;
}
.caseIllustrationS {
  margin: 16px auto 16px auto;
  max-width: 48%;
}
.caseIllustrationL {
  margin: 16px auto 16px auto;
  max-width: 95%;
}
figcaption {
  padding: 8px 0 0 0;
}
.caseParagraphe {
  max-width: 680px;
  margin: 64px auto auto auto;
}
@media (max-width: 730px) {
  .caseParagraphe {
    margin: 64px 24px 0 24px;
  }
}
.caseParagrapheTitle {
  text-align: center;
}
.caseParagrapheContent {
  color: #5F6368;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}
.caseTwoColumn {
  width: 85%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 54px auto auto auto;
}
@media (max-width: 730px) {
  .caseTwoColumn {
    margin: 16px auto 16px auto;
  }
}
.caseLeftColumn {
  display: grid;
  grid-template-rows: 150px auto;
  flex: 1 0 25%;
  /*  Stretching: */
  margin: 32px 32px 32px 32px;
}
@media (max-width: 730px) {
  .caseLeftColumn {
    margin: auto;
  }
}
.caseLeftColumnTitle {
  height: 150px;
  margin: 0;
  border-top: solid 1px #292929;
  border-bottom: solid 1px #292929;
  display: grid;
  place-items: center;
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}
.caseLeftColumnDesc {
  margin: 48px 0 auto 0;
}
.caseRightColumn {
  flex: 1 1 67%;
  /*  Stretching: */
  margin: 5px;
  background-color: #f8f8f8;
  padding: 32px 32px 32px 32px;
}
.caseRightColumn :first-child {
  margin-top: 0;
  margin-block-start: 0;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787wsuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v16/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
strong {
  font-weight: 500;
}
.space-text {
  color: #292929;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.imageWrap {
  max-width: 50%;
  float: left;
  padding: 0 32px 32px 0;
}
/**********************************
GENERAL
***********************************/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #0D6A90;
}
img {
  max-width: 100%;
}
div,
span,
p,
li,
u,
i {
  color: #5F6368;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
  font-family: 'Lora';
  font-weight: 500;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  line-height: 41px;
  font-weight: 500;
}
h4 {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  margin-block-end: 1em;
}
section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
figure {
  margin: 0;
}
figure > figcaption {
  font-style: italic;
  color: #5F6368;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}
body {
  margin: 0;
}
html {
  background: white;
}

