{{#>base/base selected="about"}}
    <div id="wrapper">
        <ol id="breadcrumbs">
            <li><a href="index.html">Portfolio</a></li>
            <li>> About</li>
        </ol>
        <section>
            <h2>Hello :)</h2>
            <div class="aboutme">
                <img src="img/sophie_durand.jpg" alt="" class="imgCircle"/>
                <p>I'm Sophie Durand, a UX Specialist. I recently relocated to Stockholm</p>
                <p>I have worked at:</p>
                <ul>
                    <li>Travel company <strong>Thomas Cook</strong>, where I help to ensure the experience of finding
                        and booking a holiday is seamless.
                    </li>
                    <li>London-based consultancy <strong>System Concepts</strong>, where I improved the usability and
                        accessibility of a range of products
                        for companies such as the BBC, Vodafone and Sainsbury's.
                    </li>
                    <li>Technology provider <strong>Amadeus</strong>, where I worked on making user-friendly software
                        for travel professionals, as well as sites and apps for airlines.
                    </li>
                </ul>

                <p>I hold a degree in Software Engineering from Telecom Sud Paris, with a specialisation in
                    Human-Computer-Interaction. During
                    my studies I spend some time at the Blekinge Institute of Technology in Sweden.</p>

                <p>Outside of work, I like:</p>
                <ul>
                    <li>reading (You can check out what I've been reading on <a
                            href="https://www.goodreads.com/sophie_durand">Goodreads</a>),
                    </li>
                    <li>playing board games,</li>
                    <li>baking.</li>
                </ul>
            </div>
        </section>
    </div>
{{/base/base}}