{{#> base/base selected="work"}}
    {{> case/intro
            client=""
            description="About me"
            image="img/sophie_durand.jpg"

    }}
    {{#> case/paragraphe title="A bit of history…" }}
        <p>I grew up in the North East of France.
            I studied Software Engineering in Paris and Human-Computer-Interaction in Karlkrona (Sweden).
            I’ve worked in Nice (France), London and Stockholm, at H&M, Travel company Thomas Cook, consultancy System
            Concepts, and technology provider Amadeus. For more details, here’s my resume.
        </p>
    {{/case/paragraphe}}


      {{#> case/paragraphe title="What am I like?" }}
        <p>... </p>
    {{/case/paragraphe}}

    {{#> case/paragraphe title="At work" }}
        <p>... </p>
    {{/case/paragraphe}}

    {{#> case/paragraphe title="What non-designy stuff do I like?" }}
        <ul>
            <li>Spending time with my husband and 18 months old,</li>
            <li>Reading! Here are my latest reads on Goodreads:       <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1603092768">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="White Fragility: Why It’s So Hard for White People to Talk About Racism" rel="nofollow" href="https://www.goodreads.com/book/show/43708708-white-fragility"><img alt="White Fragility: Why It’s So Hard for White People to Talk About Racism" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1548478235l/43708708._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Les Mandarins: Tome 2" rel="nofollow" href="https://www.goodreads.com/book/show/19531.Les_Mandarins"><img alt="Les Mandarins: Tome 2" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1356499466l/19531._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Les Mandarins: Tome 1" rel="nofollow" href="https://www.goodreads.com/book/show/19530.Les_Mandarins"><img alt="Les Mandarins: Tome 1" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386749315l/19530._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La Force des choses II" rel="nofollow" href="https://www.goodreads.com/book/show/1364393.La_Force_des_choses_II"><img alt="La Force des choses II" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348719860l/1364393._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Tout Compte Fait" rel="nofollow" href="https://www.goodreads.com/book/show/152062.Tout_Compte_Fait"><img alt="Tout Compte Fait" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1356155706l/152062._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La force de l'âge" rel="nofollow" href="https://www.goodreads.com/book/show/21126.La_force_de_l_ge"><img alt="La force de l'âge" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1425932911l/21126._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La Force des choses I" rel="nofollow" href="https://www.goodreads.com/book/show/1364391.La_Force_des_choses_I"><img alt="La Force des choses I" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1497201988l/1364391._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La Femme rompue" rel="nofollow" href="https://www.goodreads.com/book/show/151629.La_Femme_rompue"><img alt="La Femme rompue" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1277113227l/151629._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Mémoires d'une jeune fille rangée" rel="nofollow" href="https://www.goodreads.com/book/show/2805088-m-moires-d-une-jeune-fille-rang-e"><img alt="Mémoires d'une jeune fille rangée" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348361354l/2805088._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Green Road" rel="nofollow" href="https://www.goodreads.com/book/show/26530354-the-green-road"><img alt="The Green Road" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1459531010l/26530354._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Sixth Extinction: An Unnatural History" rel="nofollow" href="https://www.goodreads.com/book/show/17910054-the-sixth-extinction"><img alt="The Sixth Extinction: An Unnatural History" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1372677697l/17910054._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Conversations with Friends" rel="nofollow" href="https://www.goodreads.com/book/show/32187419-conversations-with-friends"><img alt="Conversations with Friends" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1500031338l/32187419._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="An American Marriage" rel="nofollow" href="https://www.goodreads.com/book/show/33590210-an-american-marriage"><img alt="An American Marriage" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1491493625l/33590210._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La Place" rel="nofollow" href="https://www.goodreads.com/book/show/399264.La_Place"><img alt="La Place" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1588251995l/399264._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Dear Girls: Intimate Tales, Untold Secrets, & Advice for Living Your Best Life" rel="nofollow" href="https://www.goodreads.com/book/show/44600621-dear-girls"><img alt="Dear Girls: Intimate Tales, Untold Secrets, & Advice for Living Your Best Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553635552l/44600621._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="All the Rage: Mothers, Fathers, and the Myth of Equal Partnership" rel="nofollow" href="https://www.goodreads.com/book/show/39937627-all-the-rage"><img alt="All the Rage: Mothers, Fathers, and the Myth of Equal Partnership" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1545882739l/39937627._SX50_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Axiom's End (Noumena, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/51171377-axiom-s-end"><img alt="Axiom's End" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579072263l/51171377._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Scientist in the Crib: What Early Learning Tells Us About the Mind" rel="nofollow" href="https://www.goodreads.com/book/show/27667.The_Scientist_in_the_Crib"><img alt="The Scientist in the Crib: What Early Learning Tells Us About the Mind" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1432440191l/27667._SY75_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Montessori Toddler: A Parent's Guide to Raising a Curious and Responsible Human Being" rel="nofollow" href="https://www.goodreads.com/book/show/38103723-the-montessori-toddler"><img alt="The Montessori Toddler: A Parent's Guide to Raising a Curious and Responsible Human Being" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516398883l/38103723._SX50_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Les années" rel="nofollow" href="https://www.goodreads.com/book/show/3079197-les-ann-es"><img alt="Les années" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1374063384l/3079197._SY75_.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/22320272-sophie">Sophie's favorite books »</a>
  <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Sophie, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/22320272.Sophie's%20bookshelf:%20read?cover_size=small&hide_link=&hide_title=true&num_books=20&order=d&shelf=read&sort=date_added&widget_id=1603092768" type="text/javascript" charset="utf-8"></script>
 <br><br></li>

            <li>Listening to Podcasts (My favourites:….)</li>
            <li>Playing board games (mostly the collaborative type)</li>
            <li>Would say baking, but that would be inaccurat: what I mostly like about it is eating home backed goods!</li>
        </ul>
    {{/case/paragraphe}}









{{/base/base}}