{{#> base/base selected="about"}}

    {{#> case/paragraphe title=" " }}
        <h1 class="space-text">About me</h1>

        <br>

        <img src="img/sophie_durand.jpeg" alt="" class="imageWrap">
        <p>Hej hej! I'm Sophie, a <strong>Product Designer </strong> based in Stockholm.</p>

        <p>I strive to contribute to <strong>products that bring value to people's life, and that work for all
            people</strong>.</p>
        <p>I'm pretty obsessed with <strong>research, data, and understanding people and problems</strong>. And I love
            finding the best ways
            to communicate complex information to people, be it the users I'm designing for or the co-workers I'm
            sharing my work with.
        </p>

        <p>My colleagues describe me as kind, honest, wise, and a great source for feedback.</p>
        <br>
        <p>I studied <strong>Software Engineering</strong> at <a href="https://www.telecom-sudparis.eu/">Telecom Sud
            Paris</a> and
            <strong>Human-Computer-Interaction</strong> at <a href="https://www.bth.se/eng/">Blekinge Tekniska
                Högskola</a>.
            I’ve worked at <a
                    href="https://www2.hm.com/en_gb/index.html">H&M</a>, Travel company <a
                    href="https://www.thomascook.com/">Thomas Cook</a>, UX consultancy <a
                    href="https://www.system-concepts.com/">System
                Concepts</a>, and technology provider <a href="https://amadeus.com/en">Amadeus</a>.
        </p>
        <br>
        <p>Outside of work, I enjoy:</p>
        <ul>
            <li>spending time with my husband Alexis and my 18 months old son Nolan,</li>
            <li>playing board games (with lots of strategy, some collaboration, and
                no place for luck!),
            </li>
            <li><a href="https://www.goodreads.com/user/year_in_books/2020/22320272">reading a lot</a>,
            </li>
            <li>listening to <a
                    href="https://open.spotify.com/playlist/5ZtMir8MPDBgqREeU0mKb1?si=0k8gVmdoQH-lsf_tSZpBHQ">my
                favourite Podcasts</a>.
            </li>
        </ul>



    {{/case/paragraphe}}










{{/base/base}}