{{#> base/base selected="work"}}
    {{#> case/layout
            description="Efficiency tooling for sellers"
            client="Acast"
            role="Lead Product Designer"
    }}
        <p class="caseComingSoon">Coming soon.</p>
    {{/case/layout}}
{{/base/base}}
