{{#> base/base selected="work"}}
    {{> case/intro
            client="Amadeus and various airlines - 2013 to 2016"
            description="Improving the accessibility of airline websites"
            image="img/ax_hero.png"


    }}
    {{#> case/paragraphe title="The challenge" }}
        <p>New laws in the US, coming into effect in 2015, meant that all airlines flying to and from the US were
            scrambling to
            make their website more compliant with level AA of the Web Content Accessibility Guidelines version 2.0
            (WCAG 2.0).
        </p>
        <p>I have worked to achieve this goal as an intern at <a href="https://amadeus.com/en">Amadeus</a> (technology
            for the
            travel industry) on the
            <a href="http://www.amadeus.com/web/amadeus/en_1A-corporate/Airlines/Airline-Systems/Digital-and-Direct-Retailing-Systems/Retailing-User-Interfaces/Amadeus-e-Retail/1400000043062-Solution_C-AMAD_ProductDetailPpal-1319637765587?category=1400000042013&industrySegment=1259068355670&system=1400000001026">e-Retail
                booking system</a>,
            which is used by over a hundred airlines, and later with airlines such as Japan
            Airlines, Avianca, Egyptair or China Southern Airlines, as a UX Consultant at <a
                    href="https://www.system-concepts.com/">System Concepts.</a></p>
    {{/case/paragraphe}}

    {{#> case/paragraphe title="The process" }}
        <p>I usually advised to start with an audit and fix the biggest issues before moving on to
            conduct accessibility testing. This was to ensure that the testing sessions
            would not be too difficult, with participants being stuck from the very first page.</p>
        <p>Watching the testing sessions often makes the teams very motivated to deliver more accessible
            products. Training sessions that go beyond guidelines are a good way to build up on this.
        </p>

    {{/case/paragraphe}}
    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Audit" img="img/ax_audit.png" alt="Extract of an audit report, with explanation of the success criterion, examples of failures and
                recommendations."}}

        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <p>I have conducted multiple audits, mostly for booking and check-in journeys, but also
                for other content like customer service pages. When conducting the audits,
                I examine the pages with:</p>
            <ul>
                <li>common assistive technologies (such as the screen reader JAWS),</li>
                <li>specific accessibility settings (like inverted colors),</li>
                <li>tools like the Web Developper browser extension.</li>
            </ul>
            <p>Then, when necessary, I dive into the code of the pages to pin-point what causes
                the issues and how to fix them.</p>
            <p>When I first started working with Amadeus,
                there were problems
                that would completely shut out some users from airline websites (for instance,
                completely impossible to select a flight with a keyboard, or a structure
                so chaotic that it was impossible to make sense of the content when listening
                with a screen reader). I've had the pleasure of
                seeing this evolve over time. And it has been quite interesting to observe how personalisation for all
                the different
                airlines (who use the same booking and check-in interface from Amadeus) could impact the overall
                accessibility.</p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Testing" img="img/ax_report.png"
                             alt="Extract from a testing report. Shows there were 2 tasks, and some of the findings were that text in the menu was hard to read for ZoomText users, and that some links were meaningless for screen reader users. " }}

        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <p>I have conducted accessibility testing with users who have various
                accessibility needs, to help ensure
                the sites were truly accessible.
            </p>
            <p>I recruited participants from System Concept's database, as well as
                by getting in touch with charities supporting people with different abilities.</p>
            <p>When preparing test scripts, I made sure to allow extra time. And when participants
                used assistive technologies, I asked them to apply their favourite settings
                and explain them during the session, so everyone could see first hand the different ways
                these tools can be used.
            </p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}


    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Training" img="img/ax_training.jpg"
                             alt="A training handbook lies on table, open on a page with an exercise to say which of the proposed alt text is appropriate."}}

        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <p>When working at Amadeus, I have delivered short, tailored training sessions to teams to help them
                understand why
                accessibility matters and how they could
                personally contribute to improve accessibility.</p>

            <p>I have also given a talk at the <a href="https://flupa.eu/2014/11/21/flupa-ux-day-2015/">FLUPA (UXPA
                France and Luxembourg) UX Days Conference</a> with practical tips
                to work towards more accessibility when delivering wireframes or UI designs, in development, and in user
                tests. You can <a
                        href="https://www.slideshare.net/SophieBuda/accessibilite-designer-et-implementer-un-meilleur-produit-flupa-uxday-2015">check
                    out the slides here</a>
                (in french).</p>
        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/paragraphe title="Results" }}
        <ul>
            <li>Big accessibility issues have been addressed throughout the booking and check-in flows.
            </li>
            <li>All the work done to improve accessibility has also been used to improve the general usability and
                look and feel of the pages, as well as to clean up the code.
            </li>
        </ul>
        <p>This is not to say those airline websites are perfectly accessible for all today,
            but they are continually working on improving.</p>
        <p>On a more personal level, this work has really helped me to gain a deeper understanding of what can be a
            problem,


            and made me more mindful of all abilities when I design.</p>
        <div class="caseGallery">
            <figure class="caseIllustrationL">

                <img src="img/ax-search.png" alt=""/>
                <figcaption>A search panel as it was before the accessibility work began in 2013, and later in 2015. The
                    numbers on a red background on the before screenshot (left) indicate table depth: layout tables were
                    used, and there were up to 8 imbricated tables on the page. Today, there are none.
                </figcaption>
            </figure>
        </div>

        <a href="index.html" class="separation">&lt;&lt; See other examples of work</a>

    {{/case/paragraphe}}


{{/base/base}}