{{#> base/base selected="work"}}


    {{#> case/paragraphe title="Contact details" }}
        <ul class="contact-info">
                <li><a href="tel:+46728808419">+46 (0)728808419</a></li>
                <li><a href="mailto:sophie.durand.b@gmail.com">sophie.durand.b@gmail.com</a></li>
                <li><a href="https://www.linkedin.com/in/sophie-durand/">LinkedIn Profile</a></li>
            </ul>    {{/case/paragraphe}}

{{/base/base}}

