{{#> base/base selected="work"}}
    {{> case/intro
            client="H&M, 2020"
            description="Increase sign ups"
           image="img/hm1_hero.png"


    }}

    {{#> case/paragraphe title="The challenge" }}
        <p>15% of H&M online customers are not members of the loyalty program.
            How might we encourage them to sign up?</p>
    {{/case/paragraphe}}

    {{#> case/paragraphe title="My role" }}
        <p><strong>Product Designer</strong> in a new Team in charge of increasing the number of sign ups.
        </p>
    {{/case/paragraphe}}

    {{#> case/paragraphe title="The process" }}
        <p>We were bombarded with requests to add features, or put the sign up button
            in more places. But there was little data to back that up! So, I started by conducting research
            to inform our decisions.</p>

    {{/case/paragraphe}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Research" img="img/hm1_signup_android_test.png"
                             alt="Fingers hovering over a calendar to select date of birth" }}



        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h4>Main Research Questions</h4>
            <ul>
                <li>Are there issues stopping users from signing up?</li>
                <li>Can users find where to sign up? Are we promoting sign up right?</li>
                <li>Are there market specificities we should be aware of?</li>
            </ul>
            <h4>Methodologies used</h4>
            <ul>
                <li>Click tests on <a href="https://www.userzoom.com/">Userzoom</a>.</li>
                <li>Usability testing.</li>
                <li>Previous in-house research into local experiences.
                </li>
                <li>Quantitative data from <a
                        href="https://analytics.google.com/analytics/">Google Analytics</a> and
                    <a
                            href="https://www.clicktale.com/">Clicktale.</a></li>
            </ul>
            <h4>Key takeaways</h4>
            <ul>
                <li>No need to go too heavy on the Sign ups CTAs. Users can find it already, and it's getting a bit too
                    much.
                </li>
                <li>We are not always promoting sign up in the right context, and users
                    sometimes find the copy uninspiring.
                </li>
                <li>Drop out rates on mobile (which accounts for 70% of H&M's visitors) is 30% higher than on desktop:
                    no wonder, when it takes 40s longer to sign up, and there's severe usability issues (especially on
                    Android).
                </li>
                <li>In some countries, we must provide more sign-up options.
                </li>
            </ul>


            <h4>Prioritise</h4>
            <p>Based on those insights, the team and I established our priority. Then,
                I did a quick showcase of the research at our Sprint Demo to help our stakeholders
                understand the decisions.</p>


        {{/case/rightColumn}}
    {{/case/twoColumn}}

    <div class="caseGallery">
        <figure class="caseIllustration">
            <img src="img/hm1_researchreport.png"
                 alt="">
            <figcaption>Extracts from the presentation of findings.
                It was organised around the top 5 issues, and showed quotes & video clips from
                usability testing, along with quantitative data to put things into perpective.
            </figcaption>
        </figure>

        <figure class="caseIllustration">
            <img src="img/hm1_impacteffort.png"
                 alt="Impact effort matrix. Click to view full size.">
            <figcaption>What we decided to prioritise:<br>
                Fix the date of birth field,
                provide social sign up in key markets,
                Improve how we promote membership at the checkout stage.
            </figcaption>
        </figure>
    </div>

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Reduce friction" img=""
                             alt="" }}

        {{/case/leftColumn}}
        {{#> case/rightColumn}}


            <h4>The problem</h4>
            <p>The date of birth was by far the biggest drop off point in the sign up form.
            </p>
            <h4>How might we solve it?</h4>
            <ul>
                <li><strong>Stop to require the date of birth:</strong>
                    The Product Owner and I started discussions with key stakeholders:
                    Why do we need the date of birth? How else can we collect it? I prototyped
                    a few ideas to help kickstart things.
                </li>
                <li><strong>Change the input method</strong>: with a precise date so far back in the past, a calendar
                    (Android) or a
                    scrollable list (iOS) are not the most appropriate. I reviewed existing research and guidelines
                    (like
                    <a href="https://design-system.service.gov.uk/patterns/dates/#asking-for-memorable-dates">Research
                        by gov.uk</a> and <a href="https://material.io/components/date-pickers#mobile-pickers">Material
                        Design</a>) and sketched out two ideas.
                </li>
            </ul>

            <p>I took the ideas to our daily Design Review.
                We decided on the solution that allowed to stick to existing components in our Design System: simple
                input, split in 3 fields (day, month, year), with
                one visible label.</p>
            <h4>Results</h4>
            <p><strong>Drop outs and time to complete the form decreased.</strong>
                And the rate of errors when filling in the form did not significantly change like we could have
                feared. </p>
            <p>The next things to look at to reduce friction? Unclear password rules and error messages.</p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn
                title="Focus on checkout"
                img=""
                alt=""}}

        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h4>Opportunity</h4>
            <p>Promoting sign up in the checkout is where it makes the most sense for users: they get
                immediate benefits from it (like free shipping and
                discounts). And user testing pointed to some easy improvements, like tweaking the copy.</p>

            <h4>Ideation Workshop</h4>
            <p>I invited business experts,
                designers, product owners and analysts from Loyalty and Checkout teams to a workshop to generate ideas
                together.
                The workshop was very appreciated, as it brought together people who were not often in the
                same room, or didn’t feel involved in design decisions.</p>

            <h4>Outcomes</h4>
            <p>We generated a prioritised list of ideas to A/B test.</p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    <div class="caseGallery">
        <figure class="caseIllustration">
                <img src="img/hm1_signup_workshop.png"
                     alt="Working documents from the ideation workshop, showing data about the problem, screenshots from competitors, and sketches">
                <figcaption>Miro boards from the workshop:<br>
                    Review the data and our goal (1, 2, 3),
                    look for inspiration (4),
                    Crazy eights (5).
                </figcaption>
            </figure>

            <figure class="caseIllustration">
                <img src="img/hm1_signup_checkoutAB.png" alt="3 variations of the Continue to checkout page">
                <figcaption>Spot the difference: Original "Continue to Checkout" page, and winner of the first A/B test around
                    button labels.
                </figcaption>
            </figure>
    </div>



    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Locally adapted" }}
            <img src="img/" alt="">
            <div></div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h4>Opportunity</h4>
            <p>In the winter of 2020, the membership will be launched in a country where email usage is very low, and
                tying the loyalty program and sign up to the dominant social media platform is key
                (I won't reveal details or show designs as the launch is still confidential).</p>
            <h4>Competitive analysis</h4>
            <p>I did some reading to understand the market better, and got help from H&M staff in that market to examine how competitors are using
            the social media platform for their loyalty program.</p>
            <h4>User flows</h4>
            <p>I worked closely with our IT Architect and Developers to draw up user flows. There were a lot of scenarios to account for, and it was a real challenge to keep the experience frictionless within the limits of the social media platform we were working with, and of our own systems.
                       </p>
            <h4>Sketch, Design Review, Prototype</h4>
            <p>I sketched out the main flows to and from the social media platform, as well as different possibilities for a new layout for the sign up form. I
                selected three
                thanks to feedback received in Design Review, then prepared prototypes to test.</p>
            <h4>Usability Testing</h4>
            <p>One layout resulted in less errors than the others. However, no clear
                insights emerged around some of the tricky points in the journey, like signing up directly from the
                social
                media platform, or merging accounts if the email address is already in our systems. But it was expected:
                to gain time and reduce costs, I had to compromise
                in recruitment, and participants were from the market, but based in the US.

            </p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/paragraphe title="Results" }}
        <ul>
            <li>Time to join was <strong>reduced by 25s</strong></li>
            <li>Drop outs in the sign up form <strong>decreased by 10%</strong></li>
            <li>The first A/B tests around promoting sign up in the checkout resulted in increased sign ups. Some other
                ideas are still being tested.
            </li>
            <li>The local sign up has not launched yet.</li>
        </ul>
        <p>After 4 months in the team, I had to join another team (due to cut hours with the Covid-19 situation). When I
            left, they thanked me for helping them to become more user-centered, more data-driven, and more
            confident in prioritising their backlog and handling stakeholders.</p>
        <a href="index.html" class="separation">&lt;&lt; See other examples of work</a>
    {{/case/paragraphe}}







{{/base/base}}