{{#> base/base selected="work"}}
    {{> case/intro
        client="H&M, 2020"
        description="Increase sign ups"
        image="img/hm1_signup_card@2x.jpg"

    }}

    {{#> case/paragraphe title="The challenge" }}
    15% of H&M online customers are not members of the loyalty program. They are missing out on cheaper,
                    more personalised shopping... And members have a higher life time value for H&M.
                So, how do we encourage more customers to sign up?
     {{/case/paragraphe}}

    {{#> case/paragraphe title="The process" }}
        I was the Product Designer in a new Product Team in charge of increasing the number of sign ups.
    {{/case/paragraphe}}

        {{#> case/twoColumn }}
        {{#> case/leftColumn title="Research" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <div>The team was bombarded with lots of requests to add more features, or put the sign up button
                in more places. But there was little data to back up those requests</div>
                        <p>So, I started by gathering insights:</p>
                        <ul>
                            <li>conducting user testing (both in-person and remotely), that I invited the team to
                                watch.
                            </li>
                            <li>asking feedback from market experts and store staff (who see people struggling to sign
                                up at the till).
                            </li>
                            <li>looking at Clicktale and Google Analytics.</li>
                            <li>checking results from previous A/B tests</li>
                        </ul>
                        <p>With this information, the product owner and I established our priority for the upcoming
                            sprints, based on effort and impact:</p>
                        <ul>
                            <li>fix the basics in the sign up form (technical flaws and usability issues)</li>
                            <li>promote sign up more, but in the right context (for instance, at checkout)</li>
                            <li>adapt to specific markets</li>
                        </ul>
                        <p>I built a quick showcase of our research for our Sprint Demo. This helped stakeholders to
                            understand our strategy and accept that we would not be focusing on some of the features
                            they were keen on.</p>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Fix the basics" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
               <p class="stepDesc">Different sign up forms were used at different point of the journey, which
                            was hard to maintain. I provided consistent design for all of them, aligned with our new
                            Design System.

                        </p>

                        <p>Another small fix to make was around the the date of birth (a mandatory field) that was
                            difficult to input on mobile (especially on Android). This is a common issue, so I based my
                            solution on existing research
                            (for instance: <a
                                    href="https://design-system.service.gov.uk/patterns/dates/#asking-for-memorable-dates">Research
                                by gov.uk</a>) and guidelines (for instance: <a
                                    href="https://material.io/components/date-pickers#mobile-pickers">Material Design
                                Date pickers</a>)</p>
        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Ideation workshop" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
              <p>A key opportunity we identified was to promote joining in the checkout. It is where it makes
                            the most sense to users: they get immediate benefits from it (like free shipping and
                            discounts).</p>
                        <p>The checkout is an area many teams have a stake in. So, I invited business experts,
                            designers, product owners and analysts to a workshop to generate ideas together.</p>
                        <p>The workshop was very appreciated, as it brought together people who were not often in the
                            same room, or didn’t feel involved in design decisions. However, the schedule had been a
                            little bit too tight to make the most out of that positive energy. I had added more time due
                            to the workshop being fully remote (we had just started working from home due to Covid-19).
                            But that was not enough: a good learning for me!</p>
        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Design & test" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
               <p>We set out to provide different, locally-adapted ways to sign up. This has not been launched
                            yet so I will show some of the process, but details are obscured.</p>
        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/paragraphe title="Results" }}
        <p>As a direct result of the changes implemented on mobile:</p>
            <ul>
                <li>The average time it takes to join the loyalty program was reduced by 25s.</li>
                <li>Drop outs in the sign up form decreased by 10%.</li>
            </ul>
            <p>The first A/B tests around promoting sign up in the checkout resulted in increased sign ups. Some other
                ideas are still being tested.</p>
            <p>The local sign up has not launched yet.</p>
    {{/case/paragraphe}}





            <a href="index.html" class="separation">&lt;&lt; See other examples of work</a>
        </section>
    </div>
{{/base/base}}