{{#> base/base selected="work"}}
    <section>
        <div class="introIndex">
            <h1>Hey! I'm Sophie Durand,</h1>
            <p>a <b>Product Designer</b> based in Stockholm, Sweden.</p>
            <p>Welcome to my portfolio.</p>
        </div>
        <h1 class="caseStudies">Case studies</h1>
        <div id="gallery">
            {{#each index.cards}}
                {{> index/card this}}
            {{/each}}
        </div>
    </section>
{{/base/base}}