{{#> base/base selected="work"}}
    <section class="anim-fade-in">
        <div class="introIndex">
            <h1 class="space-text">Hey!</h1>
            <div class="introIndexDesc">
                <p>I'm Sophie, a Product Designer based in Stockholm.
                    <br>Welcome to my portfolio. </p>
            </div>
        </div>
        <h1 class="caseStudies space-text">Case studies</h1>
        <div id="gallery">
            {{#each index.cards}}
                {{> index/card this}}
            {{/each}}
        </div>


    </section>
{{/base/base}}