{{#> base/base}}
    <section>
        <p class="selectedWork">Selected works:</p>
        <div class="wrapper">
            <div id="gallery">
                {{#each index.cards}}
                    {{> index/card this}}
                {{/each}}
            </div>
        </div>
    </section>
{{/base/base}}