{{#> base/base selected="work"}}
    {{> case/intro
        client="Sarclad (Software for the steel industry), 2016"
        description="Redesign a software to inspect steel rolls"
        image="img/steel-inspection.png"
    }}
    {{#> case/paragraphe title="The challenge" }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
        <br/>
        I'm Sophie Krystal
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
    {{/case/paragraphe}}
    {{#> case/paragraphe title="The process" }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
        <br/>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
    {{/case/paragraphe}}
    {{#> case/twoColumn }}
        {{#> case/leftColumn title="research" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
            <div>An operator doing things with his/her pen. NSFW.</div>
            <div>An operator doing things with his/her pen. NSFW.</div>
            <div>An operator doing things with his/her pen. NSFW.</div>
            <div>An operator doing things with his/her pen. NSFW.</div>
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
        {{/case/rightColumn}}
    {{/case/twoColumn}}
    {{#> case/paragraphe title="The process" }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
        <br/>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.
    {{/case/paragraphe}}
    {{#> case/twoColumn }}
        {{#> case/leftColumn title="research" }}
            <img src="img/steel-inspection.png">
            <div>An operator doing things with his/her pen. NSFW.</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
            <h3>In-context research</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed sapien mauris.</div>
        {{/case/rightColumn}}
    {{/case/twoColumn}}
{{/base/base}}