{{#> base/base selected="work"}}
    {{> case/intro
            client="H&M, 2018"
            description="Re-design of the H&M Loyalty Program"
            image="img/hm2_club_card@2x.jpg"

    }}
    {{#> case/paragraphe title="The challenge" }}
        <p>When I joined H&M in 2018, a big overhaul of the H&M loyalty program had been decided. The main goals?</p>
        <ul>
            <li>increase engagement, with a vision to increase member satisfaction and decrease rewards debt.</li>
            <li>decrease calls to customer service, to reduce costs.</li>
        </ul>

    {{/case/paragraphe}}
    {{#> case/paragraphe title="My role" }}
        <p>UX Designer, working on several "cases" with different teams (Business Solution Analysts, IT Architects, UI
            Designers, etc.).
            I worked in parallel with 2 other UX designers assigned to other cases within the bigger loyalty re-design
            project.
        </p>
    {{/case/paragraphe}}
    {{#> case/paragraphe title="The process" }}
        <p>We were working in a waterfall environment, with development outsourced, meaning that
            throughout discussions during the Design phase and impeccable design deliverables were keys.</p>

        <p>When I arrived, the general direction had already been decided, based on previous work from the UX and
            Service Design team. I was assigned to work
            on several different "cases". I will outline a couple of them below:</p>
    {{/case/paragraphe}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Account page" }}
            <img src="img/steel-inspection.png" alt="">
            <div>....</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus
                nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque
                velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed
                sapien mauris.
            </div>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Rewards" }}
            <img src="img/hm2_testtill.jpg" alt="Participant seems unsure how to scan their membership QR code">
            <div>User test in a store</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus
                nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque
                velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed
                sapien mauris.
            </div>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Monthly invoices" }}
            <img src="img/hm1_testflyers.JPG" alt="Participant points to a flyer">
            <div>Testing copy around H&MxKlarna, in a store</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus
                nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque
                velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed
                sapien mauris.
            </div>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/twoColumn }}
        {{#> case/leftColumn title="Earn points" }}
            <img src="img/hm2_testbenefits.jpg" alt="Participant shows a set of cards with various benefits">
            <div>Interviewing users about different benefits of the loyalty program</div>
        {{/case/leftColumn}}
        {{#> case/rightColumn}}
            <h3>Understand stuff</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in neque sollicitudin, tempus tellus
                nec, sagittis arcu. Nulla at lacus nec massa ultricies sollicitudin non a turpis. Nulla et pellentesque
                velit. Nulla facilisi. Fusce vehicula ornare bibendum. Sed at molestie enim, id tempor sem. Maecenas sed
                sapien mauris.
            </div>

        {{/case/rightColumn}}
    {{/case/twoColumn}}

    {{#> case/paragraphe title="Results" }}
        <p>The re-design, along with heavy marketing campaigns and gradual launch in new countries led to:</p>
        <ul>
            <li>1 million new members in the first month after launch, and a member base that had doubled after 9
                months.
            </li>
            <li>a reduction in the number of conversation with customers service. In the first month after launch,
                membership-related queries accounted for about 7% of contacts, down from 9%.
            </li>
            <li>an increase of 14% in the part of members using rewards every time they shop.</li>
        </ul>
        <p>But some things did not go as well as expected.
            For instance,
            we observed no increase in the perceived usefulness or relevance of rewards.
            A big part of the problem is that the Rewards template is being used in ways I had not forseen: some rewards lack key CTAs, and other "rewards" are actually just
            communications about H&M.
            Before launch, I had held a training session with AEM (Adobe Experience Manager) users to explain the
            new rewards layout and how to use it, but it wasn't enough. A good learning for me.
        </p>
    {{/case/paragraphe}}
{{/base/base}}